<html>
  <head>
    <title>Skattemelding sendt til Altinn</title>
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
    <h2>Skattemelding sendt til Altinn</h2>

    <p>Instansen er oppretta og skattemeldinga er lasta opp. Prosessen er flytta til bekreftelse-steget.</p>

    <p>Instans-ID:</p>
    <pre>{{instance_id}}</pre>

    <p>Gaa til Skatteetaten si visningsside for aa sjaa og bekrefte:</p>
    <p><a href="{{visning_url}}">{{visning_url}}</a></p>

    <p><a href="/">Tilbake til startsida</a></p>
  </body>
</html>
