<html>
  <head>
    <title>Klargjering for forhandsfastsetting</title>
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
    <h2>Klargjering for forhandsfastsetting</h2>

    <p>Respons fra klargjering:</p>
    <pre>{{klargjor_respons}}</pre>

    <p>Forhandsfastsettingsformattype fraa utkast:</p>
    <pre>{{forhaandsfastsettingsformattype}}</pre>

    <p>
      <a href="/">Ga vidare til validering</a>
    </p>
  </body>
</html>
