<html>
  <head>
    <title>Skattemelding validering</title>
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
    <p>Du er logga inn i ID-porten som {{pid}}.</p>
    <p>Dokumentreferanse:</p>
    <pre>{{dok_ref}}</pre>
    <p>Partsnummer:</p>
    <pre>{{partsnummer}}</pre>
    <p>Valideringsresultat:</p>
    <pre>{{validation}}</pre>

    {% for dokument in dokumenter -%}
    <p>Dokument:</p>
    <pre>{{dokument}}</pre>
    {%- endfor %}

    <a href="/altinn">Altinn</a>
  </body>
</html>
